@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.cdnfonts.com/css/futura-pt');

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000000;
}

code {
	font-family: 'Futura PT', sans-serif;
}

* {
	font-family: 'Futura PT', sans-serif;
	box-sizing: border-box;
	overflow: hidden;
}

.lil-gui.autoPlace {
	display: none;
}

.lil-gui.autoPlace+div {
	display: none;
}

.indexmaindiv {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
}

.appmaindiv {
	width: 100vw;
	height: 80vh;
	margin-top: 5%;
	background-color: #00a6ff;
}


.sectionmain {
	/* background-color: rgb(9, 82, 155, 0.2); */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	z-index: 10;
	pointer-events: none;
}

.section-home.websection {

}



.main-title {
	margin-top: 26rem;
	pointer-events: auto;
	margin-block-end: 0;
}

.main-title h2 {
	color: hsla(192, 18%, 49%, 1);
	filter: drop-shadow(0px 6px 10px #3d5257);
	font-size: 100px;
	font-style: normal;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 20px;
	opacity: 0.9;
	margin-block-end: 0;
}

.main-title-two h2 {
	color: #668A93;
	font-size: 20px;
	font-style: normal;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 25.5px;
	margin-top: 0rem;
	opacity: 0.9;
	pointer-events: auto;
}
.section-home-two{
	margin: 14rem 0rem 0rem 0rem;
}
.navnew {
	/* margin: 12rem 6rem 0rem 6rem; */
	text-transform: uppercase;
	text-align: center;
	pointer-events: auto;
}

.link-anchore a {
	margin: 0rem 6rem 0rem 6rem;
	color: #ffffff;
	font-size: 20px;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.8;
}

.link-anchore a:hover {
	opacity: 1;
}

.about-page {
	animation: slideIn 1s ease-out;
}

.card-img-top{
	width: 100%;
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

@media screen and (min-width: 320px) and (max-width: 520px) {

	.main-title h2 {
		color: #668A93;
		font-size: 34px;
		font-style: normal;
		font-weight: 200;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		opacity: 0.9;
		margin-block-end: 0;
	}

	.main-title-two h2 {
		color: #668A93;
		font-size: 14px;
		font-style: normal;
		font-weight: 200;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		margin-top: 1rem;
		opacity: 0.9;
		pointer-events: auto;
	}

	.link-anchore a {
		margin: 4px;
		color: #ffffff;
		font-size: 12px;
		font-style: normal;
		font-weight: 200;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		opacity: 0.8;
	}

	.navnew {
		margin: 12rem 0rem 0rem 0rem;
	}

	.appmaindiv {
		width: 100vw;
		height: 80vh;
		margin-top: 20%;
	}
}